.products {
  max-width: 1160px;
  margin: 0 auto;

  &-title {
    font-family: "Manrope-SemiBold";
    font-size: 34px;
    line-height: 44.2px;
    color: #2f323a;
    margin-bottom: 20px;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
}
