.selected-product-cart-bar {
  display: flex;

  .selected-product-cart {
    font-size: 12px;
    font-family: "Manrope-Medium";
    line-height: 24.48px;
    color: #171b24;
    background-color: #fcec41;
    border: none;
    margin-right: 12px;
  }

  .selected-product-count-bar {
    display: flex;

    .selected-product-count-button {
      width: 48px;
      height: 48px;
      padding: 12px;
      background-color: #ffffff;
      border: 1px solid #d1d1d3;
    }

    .selected-product-count {
      width: 48px;
      height: 48px;
      padding: 12px;
      border-bottom: 1px solid #d1d1d3;
      border-top: 1px solid #d1d1d3;
      font-family: "Manrope-Medium";
      line-height: 24.48px;
      font-size: 18px;
      text-align: center;
    }
  }
}
