.header-inner {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  .header-search {
    width: 444px;
    padding: 12px 16px;
    color: #8b8d92;
    border: 1px solid #d1d1d3;
    background-color: #f6f6f6;
    font-family: "Manrope-Medium";
    font-size: 18px;
    line-height: 24.48px;
    padding-right: 40px;
    background-image: url(../../assets/images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 404px;
  }

  .header-cart-link {
    padding: 0 12px;
    padding-top: 26px;
    color: #454950;
    font-family: "Manrope-Medium";
    font-size: 15px;
    line-height: 21.75px;
    background-image: url(../../assets/images/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: top;
  }
}
