@font-face {
  font-family: "Manrope-Medium";
  src: url(./assets/fonts/Manrope-Medium.ttf);
}

@font-face {
  font-family: "Manrope-Bold";
  src: url(./assets/fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope-Regular";
  src: url(./assets/fonts/Manrope-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
