.slider-item {
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;

  .slider-item-title {
    max-width: 570px;
    color: #171b24;
    font-size: 48px;
    line-height: 57.6px;
    font-family: "Manrope-Bold";
    position: absolute;
    left: 100px;
    top: 40px;
  }

  .slider-item-desc {
    max-width: 570px;
    font-family: "Manrope-Regular";
    font-size: 20px;
    line-height: 28px;
    color: #454950;
    position: absolute;
    left: 100px;
    top: 176px;
  }

  .slider-item-button {
    background-color: #fcec41;
    padding: 12px 24px;
    border: none;
    font-family: "Manrope-Medium";
    font-size: 18px;
    line-height: 24.48px;
    position: absolute;
    bottom: 40px;
    left: 100px;
  }
}

.swiper-button-prev,
.swiper-button-next,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  position: absolute;
  width: 52px;
  height: 52px;
  left: auto;
  top: auto;
  bottom: 40px;
  opacity: 1;
  background-color: #fff;
  border: 1px solid #d1d1d3;
}
.swiper-button-next {
  right: 352px;
  &:after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../../assets/images/arrowBlack.svg") no-repeat;
    transition: all 0.4 ease;
    position: absolute;
  }
  &:hover,
  &:active {
    background-color: #2f323a;

    &::after {
      background: url("../../assets/images/arrowWhite.svg") no-repeat;
    }
  }
}
.swiper-button-prev {
  right: 412px;
  &:after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../../assets/images/arrowBlack.svg") no-repeat;
    transform: rotate(180deg);

    position: absolute;
  }
  &:hover,
  &:active {
    background-color: #2f323a;

    &::after {
      background: url("../../assets/images/arrowWhite.svg") no-repeat;
    }
  }
}
